<form id="login-auth-form">
  <input type="text" id="login-username" placeholder="Usuario" required />
  <input type="password" id="login-password" placeholder="Contraseña" required />
  <button type="submit" id="loginsubmit-auth">Ingresar</button>
</form>

    <script defer src="/js/login.js"></script>
