<nav class="nav-container">
  <ul class="nav-buttons">
    <li><button onclick="procesar()">Procesar predicciones</button></li>
    <li><button onclick="cargarUsuarios()">cargar usuarios</button></li>
  </ul>
  <div id="mensaje"></div>
  <ul id="usuarios"></ul>
</nav>