<header id="auth-header">
  <div class="hd-container">
    <img src="/img/racing.png" alt="Logo" class="logo" />
    <span id="welcome-user"></span>
  </div>
  <div id="auth-buttons">
    <button id="login-btn">Login</button>
    <button id="register-btn">Registrarse</button>
    <button id="logout-btn" style="display: none">Logout</button>
  </div>
</header>

<div id="auth-modal" class="modal">
  <div class="modal-content">
    <span class="close-btn" id="close-modal">&times;</span>
    <h2 id="modal-title">Login</h2>
    <form id="auth-form">
      <input type="text" id="username" placeholder="Usuario" required />
      <input type="password" id="password" placeholder="Contraseña" required />
      <button type="submit" id="submit-auth">Ingresar</button>
    </form>
  </div>
</div>

<script defer src="/js/auth.js"></script>