<header class="header">
  <img src="/img/racing.png" alt="Logo" class="logo" />
  <div class="navbar-container">
    {{> navbar}}
  </div>
  <div class="user-container">
    {{> user}}
  </div>
</header>