<section class="contenedor-tabla">
  <h1>Leaderboard</h1>
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Usuario</th>
        <th>Puntaje</th>
        <th>Aciertos</th>
        <th>Perfect</th>
      </tr>
    </thead>
    <tbody id="leaderboard-body"></tbody>
  </table>
</section>

<script defer src="/js/table.js"></script>