<div id="auth-header">
  <div id="auth-buttons">
    <button id="login-btn">Login</button>
    <button id="register-btn">Registrarse</button>
    <button id="logout-btn" style="display: none">Logout</button>
  </div>
</div>

<script defer src="/js/auth.js"></script>