<div class="dropdown">
  <button class="dropdown-toggle" data-target="notif-dropdown">🔔</button>
  <div class="dropdown-menu" id="notif-dropdown">
    <ul id="listaNotificaciones"></ul>
  </div>
</div>
